img.user-img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  min-width: 40px;
  min-height: 40px;
}

header {
  background-image: URL("");
  background-color: #111111;
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  background-position: top;
}

main {
  background: #111111;
  background: linear-gradient(2deg, rgba(17, 17, 17, 1) 0%, rgba(32, 32, 32, 1) 100%);
}

.fa-circle-check {
  height: 16px;
  margin-top: 5px;
}

.fa-circle-play {
  font-size: 65px;
}

.song-list img {
  height: 50px;
  width: 75px;
  object-fit: cover;
  border-radius: 4px;
  display: block;
  margin-left: 20px;
}

.rank-number {
  margin-top: 10px;
}

.icon-hover {
  display: none;
}
.song-list:hover {
  background-color: rgba(255, 255, 255, 0.147);
  border-radius: 6px;
}
.song-list:hover .icon-hover {
  display: inline-block !important;
}
.song-list:hover .rank-number {
  display: none !important;
}

.img-bands-liked img {
  width: 60px;
}

.fa-gratipay {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

button.hidden {
  display: none;
}

.player {
  margin-left: -12px !important;
}

.padding-bottom {
  padding-bottom: 150px;
}
