@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-Light.otf);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-LightItalic.otf);
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-Book.otf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-BookItalic.otf);
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-Medium.otf);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-MediumItalic.otf);
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-MediumItalic.otf);
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-Bold.otf);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-BoldItalic.otf);
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-Black.otf);
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-BlackItalic.otf);
  font-weight: 900;
  font-style: italic;
}

body {
  font-family: "CircularStd", sans-serif;
  color: white;
}

button {
  font-family: "CircularStd", sans-serif;
}
.spotify-green-text {
  color: #1ed760;
}

.spotify-green-bg {
  background-color: #1ed760;
}

h1 {
  font-weight: 900;
}

p {
  font-weight: 400;
}
