@font-face {
  font-family: "Circular";
  src: url(../assets/fonts/CircularStd-Light.otf);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Circular";
  src: url(../assets/fonts/CircularStd-LightItalic.otf);
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Circular";
  src: url(../assets/fonts/CircularStd-Book.otf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Circular";
  src: url(../assets/fonts/CircularStd-BookItalic.otf);
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Circular";
  src: url(../assets/fonts/CircularStd-Medium.otf);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Circular";
  src: url(../assets/fonts/CircularStd-MediumItalic.otf);
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Circular";
  src: url(../assets/fonts/CircularStd-MediumItalic.otf);
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Circular";
  src: url(../assets/fonts/CircularStd-Bold.otf);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Circular";
  src: url(../assets/fonts/CircularStd-BoldItalic.otf);
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Circular";
  src: url(../assets/fonts/CircularStd-Black.otf);
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Circular";
  src: url(../assets/fonts/CircularStd-BlackItalic.otf);
  font-weight: 900;
  font-style: italic;
}

body {
  background: #181818;
  background: linear-gradient(0deg, rgba(24, 24, 24, 1) 0%, rgba(46, 46, 46, 1) 64%, rgba(34, 34, 34, 1) 100%);
  font-family: "CircularStd", sans-serif;
  color: white;
}

button {
  font-family: "CircularStd", sans-serif;
}

.sideBarTextColor {
  color: #b3b3b3;
}

.sideScrollBar {
  overflow-y: auto;
}

.sideScrollBar::-webkit-scrollbar {
  width: 10px;
}

.sideScrollBar::-webkit-scrollbar-thumb {
  background-color: #888;
}

.sideScrollBar::-webkit-scrollbar-track {
  background: transparent;
}

.teamNames {
  width: 40px;
  height: auto;
  margin-top: 3px;
}

.first-leftSideBar {
  font-family: "Circular", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.second-leftSideBar {
  font-family: "Circular", sans-serif;
  font-size: small;
}

.spotify-green-text {
  color: #1ed760;
}

.spotify-green-bg {
  background-color: #1ed760;
}

h1 {
  font-weight: 900;
}

p {
  font-weight: 400;
}
input[type="range"].form-range::-webkit-slider-runnable-track {
  height: 4px;
  background: #555;
  border-radius: 2px;
}

input[type="range"].form-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 12px;
  height: 12px;
  background: transparent;
  cursor: pointer;
  margin-top: -4px;
}

input[type="range"].form-range::-moz-range-track {
  height: 4px;
  background: #555;
}

input[type="range"].form-range::-moz-range-thumb {
  width: 12px;
  height: 12px;
  background: transparent;
  border: none;
  cursor: pointer;
}

input[type="range"].form-range:focus {
  box-shadow: none;
}

.mobileFooterFade {
  background: #111111;
  background: black;
  z-index: 10000 !important;
}

.firstRow {
  bottom: 82px;
  z-index: 10000 !important;
}

.mobileBox {
  box-sizing: border-box;
}

#volumeControl::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 12px;
  height: 12px;
  background-color: white;
  transition: background-color 0.2s ease-in-out;
}

#volumeControl:hover::-webkit-slider-thumb {
  background-color: #1db954;
}

@media (min-width: 768px) {
  .firstRow {
    bottom: 0;
  }
  #footerImg {
    width: 70px !important;
    border-radius: 0 !important;
  }
} /*# sourceMappingURL=style.css.map */
