@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-Light.otf);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-LightItalic.otf);
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-Book.otf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-BookItalic.otf);
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-Medium.otf);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-MediumItalic.otf);
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-MediumItalic.otf);
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-Bold.otf);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-BoldItalic.otf);
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-Black.otf);
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-BlackItalic.otf);
  font-weight: 900;
  font-style: italic;
}

.sideBarTextColor {
  color: #b3b3b3;
}

.sideScrollBar {
  overflow-y: auto;
  max-height: calc(100vh - 350px);
}

.sideScrollBar::-webkit-scrollbar {
  width: 10px;
}

.sideScrollBar::-webkit-scrollbar-thumb {
  background-color: #888;
}

.sideScrollBar::-webkit-scrollbar-track {
  background: transparent;
}

.teamNames {
  width: 40px;
  height: auto;
  margin-top: 3px;
}

.first-leftSideBar {
  font-family: "Circular", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.second-leftSideBar {
  font-family: "Circular", sans-serif;
  font-size: small;
}

input[type="range"].form-range::-webkit-slider-runnable-track {
  height: 4px;
  background: #555;
  border-radius: 2px;
}

input[type="range"].form-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 12px;
  height: 12px;
  background: transparent;
  cursor: pointer;
  margin-top: -4px;
}

input[type="range"].form-range::-moz-range-track {
  height: 4px;
  background: #555;
}

input[type="range"].form-range::-moz-range-thumb {
  width: 12px;
  height: 12px;
  background: transparent;
  border: none;
  cursor: pointer;
}

input[type="range"].form-range:focus {
  box-shadow: none;
}
